.btnContainer {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: calc((var(--this-width) + var(--this-height)) / 25.7083333);
    width: calc((var(--this-width) + var(--this-height)) / 4.53676471);

    @media (min-device-height: 668px) and (min-width: 360px) and (orientation: portrait), (min-device-width: 668px) and (min-height: 360px) and (orientation: landscape) {
        align-items: center;
    }
}

.circle.lg {
    width: calc((var(--this-width) + var(--this-height)) / 11.0178571);
    height: calc((var(--this-width) + var(--this-height)) / 11.0178571);
    margin-left: 0;
    margin-right: 0;
}

.no-btn {
    place-content: center;
    align-items: center;
    border: calc((var(--this-width) + var(--this-height)) / 308.5) solid #E52D27;
    box-shadow: 
        0
        calc((var(--this-width) + var(--this-height)) / 308.5)
        calc((var(--this-width) + var(--this-height)) / 308.5)
        rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #E52D27;
    z-index: 10;
    font-weight: 400;
    font-size: calc((var(--this-width) + var(--this-height)) / 36.2941176);
}

.yes-btn {
    place-content: center;
    align-items: center;
    border: calc((var(--this-width) + var(--this-height)) / 308.5) solid #26A445;
    box-shadow: 
        0
        calc((var(--this-width) + var(--this-height)) / 308.5)
        calc((var(--this-width) + var(--this-height)) / 308.5)
        rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #26A445;
    z-index: 10;
    font-weight: 400;
    font-size: calc((var(--this-width) + var(--this-height)) / 36.2941176);
}

.no-btn.clicked,
.yes-btn.clicked {
    box-shadow: 
        0
        calc((var(--this-width) + var(--this-height)) / -1234)
        calc((var(--this-width) + var(--this-height)) / -1234)
        calc((var(--this-width) + var(--this-height)) / 246.8)
        rgba(255, 255, 255, 0.1),
        calc((var(--this-width) + var(--this-height)) / 1234)
        calc((var(--this-width) + var(--this-height)) / 1234)
        calc((var(--this-width) + var(--this-height)) / 246.8)
        rgba(0, 0, 0, 0.1);
}