#CJSGameHeader {
    height: 14.22vh;
    height: calc(var(--vh, 1vh) * 14.22);
}

#CJSGameBody {
    height: 85.78vh;
    height: calc(var(--vh, 1vh) * 85.78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.CJSGameBodyProgressBar {
    /* height: 10%; */
}

.CJSGameWindow {
    /* height: 60%; */
    display: flex;
    align-items: center;
}

.CJSGameEnterButton {
    /* height: 20%; */
}