#CJSLandingHeader {
    height: 14.22vh;
    height: calc(var(--vh, 1vh) * 14.22);
}

#CJSLandingBody {
    height: 85.78vh;
    height: calc(var(--vh, 1vh) * 85.78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CJSLandingProgressBar {
    height: 10%;
}

.CJSLandingWindow {
    height: 60%;
}

.CJSLandingEnterButton {
    height: 20%;
}