.cardBox {
    height: 14.22vh;
    width: calc(var(--this-sum) / 6.82);
    cursor: pointer;
    overflow: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
        0 
        calc(var(--this-sum) / 154.25) 
        calc(var(--this-sum) / 77.125)
        0 
        rgba(0, 0, 0, 0.65);
    border-radius: calc(var(--this-sum) / 61.7);
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--this-width) / 32.5);
}

.headerCategory {
    padding: calc(var(--this-sum) / 88.14);
    font-size: calc(var(--this-sum) / 51.42);
}

.gameImage {
    width: calc(var(--this-width) / 7.09);
}

.gameName {
    font-size: calc(var(--this-sum) / 68.56);
}