#SSGameHeader {
    height: 14.22vh;
}

#SSGameBody {
    height: calc(100vh - (var(--address-bar-height) + 14.22vh));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SSGameBodyProgressBar {
    height: 10%;
}

.SSGameWindow {
    height: 60%;
}
.SSGameEnterButton {
    height: 20%;
}
