#GNGGameHeader {
    height: 14.22vh;
    height: calc(var(--vh, 1vh) * 14.22);
}

#GNGGameBody {
    height: 85.78vh;
    height: calc(var(--vh, 1vh) * 85.78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GNGGameBodyProgressBar {
    height: 10%;
}

.GNGGameWindow {
    height: 60%;
}

.GNGGameEnterButton {
    height: 20%;
}