#SSLandingHeader {
    height: 14.22vh;
}

#SSLandingBody {
    height: 85.78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SSLandingProgressBar {
    height: 10%;
}

.SSLandingWindow {
    height: 60%;
}

.SSLandingEnterButton {
    height: 20%;
}