#SSLandingHeader {
    height: 14.22vh;
    height: calc(var(--vh, 1vh) * 14.22);
}

#SSLandingBody {
    height: 85.78vh;
    height: calc(var(--vh, 1vh) * 85.78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SSLandingProgressBar {
    height: 10%;
}

.SSLandingWindow {
    height: 60%;
}

.SSLandingEnterButton {
    height: 20%;
}