:root {
  --this-width : 0;
  --this-height : 0;
  --this-sum : 0;
  --this-address-bar: 0;
}

html,
body {
  height: 100%;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  border: box-sizing;
}

#control-height {
  height: 100vh;
  width: 0;
  position: absolute;
}
